<div id="oreos-form" class="fixed bottom-4 right-4 p-4 shadow-md bg-white z-10">
    <h2 class="font-semibold text-xl mb-4">
        Cookie consent
    </h2>

    <p>
        Please choose which cookies you want to consent to.
    </p>

    <div class="flex flex-col gap-2 my-8">
        {{ oreos:groups }}
            <div>
                <label class="flex items-baseline">
                    <input
                        type="checkbox"
                        {{ checked ? 'checked' : '' }}
                        {{ required ? 'required' : '' }}
                        class="mr-2"
                        data-oreos-handle="{{ handle }}"
                    >
                    <div>
                        <p class="font-semibold">{{ title }}</p>
                        {{ if description }}
                            <p class="text-sm text-gray-600">{{ description }}</p>
                        {{ /if }}
                    </div>
                </label>
            </div>
        {{ /oreos:groups }}
    </div>

    <div class="flex gap-2">
        <button class="py-1 px-2 bg-gray-200 border hover:border-current" id="oreos-save" type="submit">Save</button>
        <button class="py-1 px-2 border hover:border-current" id="oreos-save-all" type="button">Save all</button>
        <button class="py-1 px-2 border hover:border-current" id="oreos-cancel" type="button">Cancel</button>
    </div>
</div>

{{ oreos:script }}
